<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지우테스트</title>
</head>
<body>
입력페이지
<a href="/test2">asdf</a>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script>

    //var dd = document.createElement("div");

    for(var i=0; i<10; i++){
        var dd = document.createElement("div");
        dd.id = i;
        $(".pkg").append(dd);
        console.log(dd);
    }

</script>
</body>
</html>